
.nav-bar {
    color: var(--title-color);
    background-color: var(--base);
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 20px 36px;
}

.welcome {
    display: flex;
    align-items: center;
}

.welcome h5 {
    font-weight: bold;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    grid-gap: 10px;
}

.nav-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50px;
    padding: 8px;
}

.nav-elements svg{
    fill: var(--sub-color);
}

.nav-elements svg:hover {
    fill: var(--primary-color);
}

/* -------- Notification -------- */

.nav-buttons .notification{
   position: relative;
}

.notification > span {
    height: 9px;
    width: 9px;
    border-radius: 50px;
    background-color: var(--sub-color);
    position: absolute;
    right: 10px;
    top: 10px;
}

.show-notification {
    display: flex;
    background-color: var(--base);
    border-radius: 5px;
    position: absolute;
    top: 90%;
    transform:translateX(-50%);
    width: 400px;
    max-height: 350px;
    z-index: 2001;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--base-tint);
}

.list-notification {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list-notification::-webkit-scrollbar{
    display: none;
}

.empty-notifications {
    text-align: center;
    color :var(--sub-color);
}

.empty-notifications img {
    width: 200px;
}

.notification-user-card {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: default;
    grid-gap: 0 12px;
}

.notification-user-card .avatar{
    width: 48px;
    height: 48px;
    border-radius: 12px;
    object-fit: cover;
}

.notification-user-img {
    position: relative;
}

.notification-user-content {
    flex-grow: 1;
    overflow: hidden;
}

.notification-user-content h5 {
    color: var(--title-color);
    margin: 0;
    font-size: 15px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-user-content p {
    color: var(--sub-color);
    margin: 0;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-choices {
    display: flex;
    justify-content: center;
    grid-gap: 0 5px;
}


.notification-btn{
    background-color: var(--base-shade);
    grid-gap: 0 4px;
    padding-left: 8px;
    padding-right: 5px;
    min-width: 70px;
    font-size: 10px;
    color: var(--title-color);
}

.message-notification-btn{
    background-color: var(--base-shade);
    grid-gap: 0 4px;
    padding-left: 8px;
    padding-right: 5px;
    min-width: 120px;
    height: 25px;
    font-size: 10px;
    color: var(--title-color);
}

.message-notification-btn:hover, .notification-btn:hover{
    border: 1px solid var(--primary-color);
}

/* -------- Search  -------- */

.search .search-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2001;
    padding: 80px 15%;
}

.search-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    background: var(--base);
    border-radius: 10px;
    padding: 45px 5%;
    grid-gap: 40px;
    border:  2px rgba(var(--sub-color-rgb), 0.1);
}

.search-input{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 20px;
    border-radius: 10px;
    background: var(--base-shade);
    box-shadow: inset 1px 0px 30px rgba(var(--base-shade-rgb), 0.9);
}

.search-input input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    min-width: 50px;
    background: none;
    color: var(--title-color);

}

.search-input svg {
    fill: var(--primary-color);
}

.search-content {
    width: 100%;
    height: 100%;
    background: none;
    border-radius: 10px;
    overflow-y: scroll;
    margin: 0;
}

.search-content::-webkit-scrollbar{
    display: none;
}

.search-content .user-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background-color:  var(--base-shade);
    grid-gap: 10px;
}

.user-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.user-card h5{
    color: var(--title-color);
    font-weight: bold;
}

.user-card:hover {
    background-color: var(--base-hover);
}

/* ------- Sidebar ------- */
.content {
    background: var(--base);
    display: flex;
    height: calc(100vh - 80px);
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    padding: 0 20px 20px;
    overflow: hidden;
}

.left-sidebar {
    bottom: 0;
    width: 50px;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.left-sidebar-content{
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: space-between; */
    background: var(--base-shade);
    height: 100%;
    border-radius: 15px;
    padding-bottom: 50%;
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--base-shade);
    height: 100%;
    border-radius: 15px;
    padding-bottom: 50%;
}

.sidebar-content svg{
    fill : var(--sub-color);
    cursor: pointer;
}

.sidebar-content svg:hover{
    fill : var(--primary-color);
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 50%;
}

.menu hr {
    color: var(--base-hover);
    opacity: 1;
    width: 100%;
}

.menu .active-btn svg{
    fill : var(--primary-color);
}

.side-btns {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.nav-active { 
    position: absolute;
    display: flex;
    align-items: center;
    height: 25%;
    top: 0%;
    left: -65%;
    width: 6px;
    transition: top 0.4s ease;
}

.nav-active > span {
    display: block;
    height: 70%;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 8px;
}

.home.active-btn ~ .nav-active {
    top: 0%; 
}

.game.active-btn ~ .nav-active {
    top: 25%; 
}

.chat.active-btn ~ .nav-active {
    top: 50%;
}

.settings.active-btn ~ .nav-active {
    top: 75%;
}


.online {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    grid-gap: 16px;
    flex-wrap: nowrap;
    padding: 10px;
    height: 30%;
}

.online > p {
    font-size: small;
    font-weight: bold;
    color: var(--title-color);
    margin: 0;
}

.online .online-users {
    display: grid;
    gap: 10px;
    max-height: 160px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.online-users::-webkit-scrollbar{
    display: none;
}

.user .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}




@media only screen and (max-width: 768px){

    .nav-bar {
        padding: 20px;
    }

    .nav-buttons{
        grid-gap: 3px;
    }

    .welcome > h5 {
        font-size: medium;
    }

    .user-card h5 {
        font-size: medium;
    }
}

@media (max-width: 480px) {

    .nav-bar {
        padding: 10px;
    }

    .empty-notifications img {
        width: 100px;
    }

    .empty-notifications h5 {
        font-size: medium;
    }

    .show-notification {
        padding: 10px;
        transform: translateX(-25%);
        width: 200px;

    }

    .notification-user-card {
        grid-gap: 5px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 992px) {
    .sidebar {
        position:fixed;
        top: auto;
        left: 50%;
        bottom: 0;
        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100%;
        height: 80px;
        padding: 15px;
        background-color: var(--base);
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        z-index: 999999;
    }

    .sidebar .sidebar-content {
        border-radius: 0;
        justify-content: center;
        border-radius: 15px;
    }

    .sidebar .sidebar-content .menu {
        height: auto;
    }

    .sidebar .sidebar-content,
    .sidebar .sidebar-content .menu,
    .sidebar .sidebar-content .menu .side-btns {
        flex-direction: row;
        padding: 0;
        grid-gap: 50px;
    }

    .sidebar .side-btns .nav-active,
    .sidebar .sidebar-content .online,
    .sidebar .sidebar-content .menu .logo {
        display: none;
    }

    .home-content {
        height: calc(100vh - 150px);
        padding:0 10px 10px 10px;
    }
    
    .home-content #loading {
        height: calc(100% - 10px);
    }
}

@media (max-width: 480px) {
    .sidebar .sidebar-content,
    .sidebar .sidebar-content .menu,
    .sidebar .sidebar-content .menu .side-btns {
        grid-gap: 25px;
    }
}