.gameInterface {
    position: fixed;
    width: 100%;
}

.score {
	padding-top: 10px;
    font-size: 50px;
}

.playerinfo {
    font-family: var(--title-font);
    background: rgba(0, 0, 0, 0.175);
    position: fixed;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin: 8px;
    border-radius: 10px;
}

#player1info {
    top: 0;
    left: 0;
}

#player2info {
    top: 0;
    right: 0;
}

#score-player1 {
    font-family: var(--title-font);
}

#score-player2 {
    font-family: var(--title-font);
}

#Home-button {
    position: fixed;
    margin: 8px;
    bottom: 0;
    left: 0;
}

.player {
    font-size: 50px;
}

.btn-game {
    display: inline-block;
    font-family: var(--title-font);
    text-align: center;
    color: var(--base);
    outline: 0;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 80px;
    font-size: 22px;
    border: none;
    text-transform: uppercase;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    overflow: hidden;
    background-color: var(--primary-color);
    border: 1px solid var(--base);
}
.btn-game,
.form-border * {
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.btn-game:hover,
.btn-game:active,
.activeBtn {
    -webkit-box-shadow: 2px 2px 20px 0px rgba(var(--primary-color-rgb), 0.5);
    -moz-box-shadow: 2px 2px 20px 0px rgba(var(--primary-color-rgb), 0.5);
    box-shadow: 2px 2px 20px 0px rgba(var(--primary-color-rgb), 0.5);
    color: var(--title-color);
    background-color: var(--base);
    border: 1px solid rgba(var(--primary-color-rgb), 0.6);
}

.btn-game:disabled {
    pointer-events: none;
    opacity: 0.65;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    grid-gap: 20px;
}

.player-nick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2001;
}

.player-nick-content {
    position: relative;
    background: var(--base);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 30px;
    width: 80%;
    max-width: 500px;
    grid-gap: 10px;
}
  
.player-prompt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    grid-gap: 20px;
    padding:  20px;
}

.prompt-text {
    font-family: var(--title-font);
    font-size: 1.5em;
    color: var(--title-color);
}

.close-player-nick {
    position: absolute;
    padding: 5px;
    top: 10px;
    right: 10px;
}

.close-player-nick svg{
    fill: var(--sub-color);
}

.close-player-nick svg:hover{
    fill: var(--title-color);
}

.countdown {
    position: fixed;
    font-family: var(--title-font);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    text-align: center;
    display: none; /* Initially hidden */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
}

.gameFinalResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2001;
}

.finalText {
    font-family: var(--title-font);
    font-size: 100px;

}


.gameInterface .keys {
    /* font-family: 'Lato', sans-serif;     */
    padding: 10px;
    text-align: center;
    margin: auto;
  }
  
  .gameInterface .arr {
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: grey;
    color: white;
    font-size: 22px;
    border-right: 10px solid darken(grey, 20);
    border-bottom: 10px solid darken(grey, 20);
    border-left: 10px solid darken(grey, 15);
    border-top: 10px solid darken(grey, 10);  
    display: inline-block;
    margin: 5px;
    transition: all .05s linear;
    user-select: none;
    font-weight: 900;
  }
  .gameInterface .arr:active {
      border-bottom: 8px solid darken(grey, 20);
      text-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;
      transform: translate(0, 2px);
  }


@media (max-width: 768px) {
    .playerinfo {
        grid-gap: 12px;
        flex-direction: row;
        align-items: center;
    }
    #player1info {
        top: auto;
        left: auto;
        right: 0;
        bottom: 0;
    }
    #player2info {
        right: auto;
        left: 0;
    }
    .player, .score {
        font-size: 28px;
        padding: 0px;
    }

    #player2info .player, #player2info .score {
        transform: rotate(180deg);
        
    }

    .keys .up, .keys .down, .keys br{
        display: none;
    }
    .keys {
        display: flex;
        gap: 30px;
    }
}

/* ================================================================== */
/* ====================== Tournament Bracket ======================== */
/* ================================================================== */

.game-touranment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    max-height: 100%;
    background-color: var(--base-shade);
    z-index: 2001;
    padding: 80px 5%;
}

.tournament-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 30px;
}

.rounds {
    display: flex;
	justify-content: space-between;
    padding: 20px 40px;
    text-align: center;
}

.rounds p {
    font-size: clamp(0.8rem, 1.2vw, 2rem);
    font-weight: bold;
    margin: 0;
}

.round-one, .final-round, .round-two{
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    width: clamp(120px, 100%, 300px);
    background: var(--base);
    height: fit-content;
    text-align: center;
    border-radius: 12px;
    border: 2px solid var(--sub-color);
}

.final-round{
    border: 2px solid var(--primary-color);
}

.bracket{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px 40px;
    gap: 10px;
}

.separator svg {
    height: 150px;
    fill: var(--primary-color);
}

.match-one, .match-two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.match-final {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tounament-match-card {
    display: flex;
    align-items: center;
    background-color: var(--base);
    height: 60px;
    width: 100%;
    border-radius: 8px;
}

.match-content {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 15px;
    border: 1px solid var(--sub-color);
    height: 100%;
    width: 100%;
}

.match-content svg {
    position: absolute;
    top: 0;
    left: 0;
}

.match-one .match-content {
    border-radius: 8px 0 0 8px;
}

.match-two .match-content {
    border-radius: 0 8px 8px 0;
}

.match-final .match-content {
    border-radius: 8px;
}

.match-content .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.match-username {
    text-align: center;
    width: 150px;
    color: var(--title-color);
    font-size: clamp(0.8rem, 1.7vw, 1.2rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bracket-match-score {
    display: flex;
    justify-content: center;
    border: 1px solid var(--sub-color);
    height: 100%;
    padding: 15px;
    width: 50px;
}

.bracket-match-score p {
    text-align: center;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.match-one .bracket-match-score {
    border-radius: 0 8px 8px 0;
    border-left: 0;
}

.match-two .bracket-match-score {
    border-radius: 8px 0 0 8px;
    border-right: 0;
}

.separator {
    display: flex;
    width: 100%;
    height: fit-content;
}

@media (max-width: 1100px) {
    .bracket {
        flex-direction: column;
        padding: 20px;
        gap: 40px;
    }

    .separator{
        display: none;
    }

    .separator svg {
        height: 100px;
        fill: var(--primary-color);
        transform: rotate(90deg);
    }

    .match-two .bracket-match-score {
        border-radius: 0px 8px 8px 0px;
        border-left: 0;
        border-right: 1px solid var(--sub-color);
        order: 1;
    }

    .match-two .match-content {
        border-radius: 8px 0px 0px 8px;
    }

    .match-final{
        flex-direction: column;
    }

    .match-username {
        width: 90px;
        order: 1;
    }

    .tournament-content {
        flex-direction: row;
        gap: 0;
    }

    .round-one, .final-round, .round-two{
        padding: 10px;
        width: fit-content;
    }

    .rounds {
        padding: 20px;
        flex-direction: column;
    }

    .rounds p{
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
}

.title-img {
    max-width: 70%;
    max-height: 100%;
    object-fit: cover;
}

