<div class="nav d-flex justify-content-between align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">MouMus</h5>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-decoration-none" href="#home">Home</a>
        <a class="me-3 py-2 text-decoration-none" href="#chat">Chat</a>
        <a class="me-3 py-2 text-decoration-none" href="#settings">Settings</a>
      </nav>
    <button id="logout" type="button" class="btn btn-dark">Logout</button>
</div>