.not-found {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--base);
    flex-direction: column;
}

h1 {
    text-align: center;
	color: var(--title-color);
	border-bottom: 1px solid var(--base-shade);
    font-size: xxx-large;
    font-weight: bold;
    padding: 20px 0;
}

p {
    text-align: center;
	color: var(--title-color);
    font-size: medium;

}

@media (max-width: 992px) {
    h1 {
        font-size: large;
    }
    
    p {
        font-size: small;
    }
}