.form-home {
	background-color: var(--base);
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
}

.home-header, .home-history {
	height: 50%;
}

/* Home Start Playing */

.home-game {
	padding: 0 5px 5px;
	height: 100%;
}

.home-start-playing {
	background-color: var(--base-shade);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	height: 100%;
}

.banner-img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	content: var(--url--banner);
}

.start-play {
	position: absolute;
	bottom: 20px;
	cursor: pointer;
}

/* Home Profile */

.home-profile {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: var(--base-shade);
	border-radius: 20px;
	padding: 20px;
	height: 100%;
}

.div-info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.home-user-info {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.home-user-info p {
	color: var(--title-color);
	margin: 0;
	text-align: center;
	font-size: x-large;
	font-weight: bold;
	text-transform: capitalize;
}

.home-user-info span {
	text-transform: capitalize;
	color: var(--sub-color);
	font-size: small;
}

.total-profits {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.total-profits .total {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.total p {
	color: var(--title-color);
	margin: 0;
	font-size: small;
}

.total span {
	color: var(--primary-color);
	font-size: medium;
	font-weight: bold;
}

/* Tournament History */

.tournament-history {
	background: var(--base-shade);
	border-radius: 20px;
	height: 100%;
}

.tounament-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	height: fit-content;
	background-color: var(--base);
	padding: 5px 10px;
	color: var(--title-color);
	border: solid 1px rgba(var(--sub-color-rgb), 0.3);
}

.tounament-card .avatar {
	width: 60px;
	height: 60px;
}

.tounament-card .avatar img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;

	background-color: var(--title-color);
}

.tounament-card .small-avatar {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	box-shadow: 0 0 0 3px var(--base);
}

.tounament-winner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	width: 100%;
	gap: 10px;
}

.tounament-winner .avatar {
	position: relative;
}

.tounament-winner .avatar .crown {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-15%, -40%);
}

.tounament-winner span {
	color: var(--title-color);
	font-weight: bold;
	text-align: center;
}

.tounament-users {
	display: flex;
	padding: 0 10px;
}

.tounament-users .small-avatar + .small-avatar {
	margin-left: -3px;
}

.tournament-detail {
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 10px;
	width: 100%;
	cursor: pointer;
}

.tournament-detail span {
	text-transform: capitalize;
	padding: 5px 8px;
	fill: var(--base);
}

.tournament-detail span:hover {
	fill: var(--title-color);
}

@media (max-width: 405px) {
	.tounament-card {
		flex-direction: column;
    }

	.tounament-winner {
		flex-direction: column;
		justify-content: center;
		gap: 5px;
	}
	.tournament-detail {
		justify-content: center;
	}
}

@media (max-width: 1200px) {
	/* .tounament-winner {
		flex-direction: column;
		justify-content: center;
		gap: 5px;
	} */

	.tounament-winner span {
		font-size: small;
	}

}

/* Responsive Adjustments */

@media (max-width: 768px) {
	.home-header,
	.home-history,
	.home-game {
		height: auto;
	}

	.start-play {
		bottom: 10px;
	}

	.btn-main {
		padding: 5px 10px;
		font-size: 10px;
	}

	.div-info p {
		font-size: medium;
	}

	.div-info span {
		font-size: small;
	}
}

@media (max-width: 480px) {
	.total-profits {
		flex-direction: column;
	}
}