.form-home {
	background-color: var(--base);
	height: 100%;
}

.home-header, .home-history {
	height: 50%;
}

/* Home Start Playing */

.home-game {
	padding: 0 5px 5px;
	height: 100%;
}

.home-start-playing {
	background-color: var(--base-shade);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	height: 100%;
}

.banner-img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	content: var(--url--banner);
}

.start-play {
	position: absolute;
	bottom: 20px;
}

/* Home Profile */

.home-profile {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: var(--base-shade);
	border-radius: 20px;
	padding: 20px;
	height: 100%;
}

.div-info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.home-user-info {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.home-user-info p {
	color: var(--title-color);
	margin: 0;
	text-align: center;
	font-size: x-large;
	font-weight: bold;
}

.home-user-info span {
	color: var(--sub-color);
	font-size: small;
}

.total-profits {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.total-profits .total {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.total p {
	color: var(--title-color);
	margin: 0;
	font-size: small;
}

.total span {
	color: var(--primary-color);
	font-size: medium;
	font-weight: bold;
}

/* Tournament History */

.tournament-history {
	background: var(--base-shade);
	border-radius: 20px;
	height: 100%;
}

/* Responsive Adjustments */

@media (max-width: 768px) {
	.home-header,
	.home-history,
	.home-game {
		height: auto;
	}

	.start-play {
		bottom: 10px;
	}

	.btn-main {
		padding: 5px 10px;
		font-size: 10px;
	}

	.div-info p {
		font-size: medium;
	}

	.div-info span {
		font-size: small;
	}
}

@media (max-width: 480px) {
	.total-profits {
		flex-direction: column;
	}
}