.active2fa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2001;
}
  
.active2fa-content {
    background: var(--base);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 30px;
}
  
.active2fa-content h6 {
    font-weight: bold;
}

.active2fa-content .numbers-field {
    column-gap: 5px;
}
  
#qr-code img{
    background-color: white;
    max-width: 150px;
    max-height: 150px;
}

.active2fa-content hr{
    margin: 40px 0 40px 0;
}

.setting-content {
    background: var(--base-shade);
    display: flex;
    height: 100%;
    flex-direction: column;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.setting-content label {
    font-size: larger;
}

.setting-content .separator-border {
    border-right: 1px solid var(--base-hover);
}

.setting-content .form-border input[type="text"], 
.setting-content .form-border textarea, 
.setting-content .form-border input[type="email"], 
.setting-content .form-border input[type="password"], 
.setting-content .form-border input[type="date"], 
.setting-content .form-border input[type="number"], 
.setting-content .form-border select  {
    background-color: var(--base);
    border-radius: 8px !important;
    font-size: 20px;
}

.setting-header{
    border-bottom: solid 1px var(--base-hover);
    width: 100%;
    padding: 20px;
}

.setting-chooses {
    width: fit-content;
    height: 100%;
    display: flex;
    position: relative;
    color: var(--title-color);
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    /* grid-gap: 20px; */
}

.btn-account, .btn-securty, .btn-setting-game {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    padding: 6px 12px;
    fill: var(--sub-color);
    color: var(--sub-color);
}

.setting-chooses .nav-indicator {
    width: 34%;
    position: absolute;
    bottom: -23px;
    transition: 0.4s;
    height: 5px;
    padding: 0 5px;
}

.setting-chooses h6 {
    margin: 0;
    line-height: 1;
}

.setting-chooses .nav-indicator > span {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: var(--primary-color);
}

.setting-chooses .setting-active {
    color: var(--title-color);
    fill: var(--title-color);
}

.btn-account.setting-active ~ .nav-indicator {
    left: 0;
}

.btn-securty.setting-active ~ .nav-indicator {
    left: 33%;
}

.btn-setting-game.setting-active ~ .nav-indicator {
    left: 66%;
}

.setting-form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.setting-account, .setting-securty, .setting-game {
    position: absolute;
    background: var(--base-shade);
    transition: none !important;
    z-index: -1;
    top: 0;
    height: 100%;
    padding: 20px;
}

.setting-profile {
    display: flex;
    padding: 20px 20px 40px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: solid 1px var(--base-hover);
}

.user-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 20px;
}

.user-picture .avatar {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    object-fit: cover;
}

.setting-profile .upload-pic {
    display: flex;
    justify-content: end;
}

.setting-account button, .setting-securty button {
    transition: 0.2s;
    padding: 12px 20px 12px 20px;
}

.user-info {
    padding: 20px;
}

.about textarea { 
    height: 150px;
    width: 100%;
}
    
::-webkit-calendar-picker-indicator{
    background: none;
}

/* GAME SETTINGS */

.setting-game > .row,
.setting-securty > .row {
    height: 100%;
}

.setting-game .game-elements {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    padding: 10px 0;
}

.setting-game .game-element {
    padding: 0 10px;
    width: 100%;
}

.setting-game .game-element-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    background-color: var(--base);
    padding: 20px;
    /* margin-bottom: 1rem; */
}

.setting-game .game-element-content.active {
    box-shadow: 0px 0px 4px 1px rgba(var(--primary-color-rgb), 0.4);
}

.setting-game .game-element-content label {
    font-weight: 700;
}

.options-content {
    width: 150px;
    padding: 10px;
}

.options-content .options-scroll {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

.options-content .options-scroll .option {
    flex: 0 0 100%;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    scroll-snap-align: start;
    margin: 0;
    padding-bottom: 5px;
}

.options-content .option-active {
    display: flex;
    gap: 10px;
}

.options-content .option-active {
    height: 6px;
    width: 100%;
    
}

.options-content .option-active span {
    display: block;
    width: 100%;
    background-color: var(--sub-color);
    border-radius: 8px;
    cursor: pointer;
}

.options-content .option-active span.active {
    background-color: var(--primary-color);
}

.setting-game .game-setting-explantation {
    padding: 0 20px;
}

.setting-game .game-setting-explantation p {
    color: var(--sub-color);
}

.setting-game .game-setting-explantation b {
    color: var(--title-color);
}

@media (max-width: 767px) {
    .setting-game > .row,
    .setting-securty > .row {
        height: auto;
    }

    .setting-content .separator-border {
        padding-bottom: 20px;
        border-right: none;
        border-bottom: 1px solid var(--base-hover);
    }

    /* .setting-game .game-setting-explantation {
        padding: 20px;
    } */
     
    /* account settings */
/* 
    .setting-profile {
        flex-direction: column;
    }
    .setting-profile .user-picture {
        flex-direction: column;
    }
    
    .setting-profile .upload-pic {
        flex-direction: column;
        justify-content: center;
    } */

}

@media (max-width: 480px){

    .setting-chooses h6{
        display: none;
    }
    
    .btn-account, .btn-securty, .btn-setting-game {
        width: auto;
    }

    .setting-account, .setting-securty, .setting-game {
        padding: 0;
    }

    .setting-chooses .nav-indicator{
        width: 50px;
    }

    .game-element-content {
        flex-wrap: wrap;
        justify-content: center !important;
        text-align: center;
        flex-direction: column;
    }


.setting-profile {
    flex-direction: column;
}
.setting-profile .user-picture {
    flex-direction: column;
}

.setting-profile .upload-pic {
    flex-direction: column;
    justify-content: center;
}
}