{% load i18n %}

{% block content %}
{% autoescape off %}
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: Arial, sans-serif; color: #565a5c; background-color: #f7f7f7;">
    <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="600" style="max-width: 600px; width: 100%; margin: 20px auto; padding: 20px; background-color: #ffffff; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
                <tr>
                    <td style="padding: 20px;">
                        <p style="font-size: 16px;">
                            {% blocktrans %}
                            You're receiving this email because you or someone else has requested a password reset for your user account.
                            It can be safely ignored if you did not request a password reset. Use the PIN code below to reset your password.
                            {% endblocktrans %}
                        </p>
                        <p style="font-size: 18px; margin: 10px 0;">
                            <strong>Your PIN code is:</strong>
                        </p>
                        <p style="font-size: 36px; font-weight: bold; color: #000; margin-bottom: 30px; text-align: center;">
                            {{ key }}
                        </p>
                        {% if username %}
                        <p style="font-size: 16px; margin-top: 20px;">
                            {% blocktrans %}
                            In case you forgot, your username is {{ username }}.
                            {% endblocktrans %}
                        </p>
                        {% endif %}
                        <p style="font-size: 16px; margin-bottom: 20px;">
                            If you did not initiate this request, please ignore this email.
                        </p>
                        <p style="font-size: 16px;">
                            Best regards,<br>
                            The {{ current_site.name }} Team
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endautoescape %}
{% endblock content %}
